# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build folders
build/
dist/
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Icon
*.ico

# OS-specific
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/
